body {
	background: #FF9C6B url('http://wallpapercave.com/wp/wp1834096.png') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	position: absolute;
	overflow-y: auto;
	overflow-x: auto;
	margin-top: 5%;
	font-family: Verdana, Helvetica, sans-serif;
}
header {
	background: rgba(234, 78, 0, 0.4);
	left: 0;
	min-height: 50px;
	position: fixed;
	top: 0;
	width: 100%;
}
nav {
	text-align: center;
}
nav ul {
	margin: 0;
	padding: 0;
	margin-top: 10px;
	list-style: none;
}
nav ul li {
	display: inline-block;
}
nav ul li button {
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(234, 145, 0, 0.4);
	border-radius: 2px;
	white-space: nowrap;
	color: #FAFAFA;
	background: #DF2F00;
	border: 1px solid rgba(234, 145, 0, 0.6);
	width: 60px;
	height: 32px;
}
nav ul li button:hover {
	background: #E7542D;
	box-shadow: 0 0 4px white;
}
nav ul li a {
	text-decoration: none;
	color: #FAFAFA;
}
.headerbottom {
	box-sizing: border-box;
	width: 100%;
	height: 6px;
	margin-top: 10px;
	background: rgb(252, 234, 187);
	/* Old browsers */
	background: -moz-linear-gradient(top, rgba(252, 234, 187, 1) 0%, rgba(248, 181, 0, 1) 0%, rgba(249, 210, 112, 1) 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(252, 234, 187, 1) 0%, rgba(248, 181, 0, 1) 0%, rgba(249, 210, 112, 1) 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(252, 234, 187, 1) 0%, rgba(248, 181, 0, 1) 0%, rgba(249, 210, 112, 1) 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#f9d270', GradientType=0);
	/* IE6-9 */
}
#style-one {
	border: 0;
	width: 70%;
	height: 1pt;
	margin-top: 25px;
	background: #333;
	background-image: -webkit-linear-gradient(left, #CCC, #333, #CCC);
	background-image: -moz-linear-gradient(left, #CCC, #333, #CCC);
	background-image: -ms-linear-gradient(left, #CCC, #333, #CCC);
	background-image: -o-linear-gradient(left, #CCC, #333, #CCC);
}
main {
	background: rgba(255, 255, 255, 0.8) url('//i.imgur.com/JyZtCIo.gif') no-repeat bottom right;
	border-radius: 5px;
	width: 95%;
	height: 90%;
	color: #763D2E;
	margin: 20px auto;
	box-shadow: 1px 1px 4px 1px #363636;
	margin-top: 30px;
}
main .content {
	padding: 40px;
}
main .content a {
	color: #B86234;
}
main .content button {
	background: #D4501F;
	border: 1px solid #F1BF6D;
	border-radius: 2px;
	font-size: 11pt;
	font-weight: bold;
	color: #FAFAFA;
	margin-left: 15px;
	height: 40px;
	box-shadow: 1px 1px 1px 1px #FACC6E;
}
main .content button:hover {
	background: #DF6C50;
}
main li {
	padding: 5px;
}
#ref {
	background: rgba(247, 247, 249, 0.5);
	border: 1px solid #E8E3E1;
	color: #FFB533;
	font-size: 11pt;
	padding: 3px;
	font-weight: bold;
	font-style: italic;
}
#main-content-userstats {
	background: rgba(255, 255, 255, 0.8) url('//i.imgur.com/JyZtCIo.gif') no-repeat bottom right;
	border-radius: 5px;
	width: 95%;
	color: #762E61;
	margin: 20px auto;
	box-shadow: 1px 1px 4px 1px #363636;
	margin-top: 50px;
}
#main-content-userstats .content {
	padding: 40px;
	font-size: 10pt;
}
#main-content-userstats .content a {
	color: #B83534;
}
#main-content-userstats .content button {
	background: #A95353;
	border: 1px solid #CB6B6B;
	border-radius: 5px;
	font-size: 11pt;
	font-weight: bold;
	color: #FAFAFA;
	margin-left: 15px;
	height: 40px;
	box-shadow: 1px 1px 1px 1px #E79775;
}
#main-content-userstats .content button:hover {
	background: #D66546;
}
#uri-link {
	margin-left: 40%;
}
.hooh-stl {
	position: absolute;
	bottom: -100px;
	right: 10px;
}
</body></html>