#comentario {
	margin-top:2%;
	margin-bottom:1%;
	text-align:center;
	background:#fff;
	border: 1px solid #A2A2A2;
	border-radius:8px;
	width:1300px;
	margin-left:4%;
}

pre {
  border:1px solid #A2A2A2;
  background-color:#E3E3E3;
  padding:8px;
  margin:5px;
  color:#0150c7;
  overflow:auto
}