.broadcast-blue {
    background: linear-gradient(black,navy);
    font-family: Palatino Linotype,Times,Serif;
    font-size: 10pt;
    color: lightgoldenrodyellow;
    text-shadow: 1px 1px purple;
    padding: 10px 10px;
    border-radius: 10px;
    border-top: 1px solid black;
    box-shadow: 2px 2px darkslategrey;
}

div {
    display: block;
}

.chat-log .notice, .chat-log .chat, .pm-log .chat {
    padding: 3px 0 3px 0;
    font-size: 9pt;
    overflow-x: auto;
    overflow-y: hidden;
    line-height: 1.33;
}

.chat-log {
    contain: layout style;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 40px;
    font-size: 10pt;
    background: url(//i.imgur.com/TAfC4d4.png)!important;
    border-top: 2px solid #2E2E2E;
    color: black;
    word-wrap: break-word;
    overflow: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

.ps-room.ps-room-light {
    background: rgba(235,235,251,0.9);
    color: black;
}

body {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font-size: 13pt;
    font-family: Helvetica,Arial,sans-serif;
    overflow: auto;
    background: #1C1C1C no-repeat center center fixed;
    background-size: cover;
    background-repeat: repeat-x;
}

.infobox.infobox-limited {
    color: #2E2E2E;
    padding: 3px 8px 8px;
    font-family: Arial,Verdana,Helvetica,sans-serif;
    font-size: 1.1em;
    text-align: justify;
    box-sizing: border-box;
}
